<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9OAuNe5p8eCzrxZBHaBNKAJs_jtQYn9I</string>
	<key>GCM_SENDER_ID</key>
	<string>624815648508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfaresi.apophenia</string>
	<key>PROJECT_ID</key>
	<string>apophenia-1c2a1</string>
	<key>STORAGE_BUCKET</key>
	<string>apophenia-1c2a1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624815648508:ios:3965c1b6aa243f8d0cb179</string>
</dict>
</plist>